<nav class="navbar navbar-expand-lg navbar-dark bg-dark ms-auto">
    <div class="container">
        <a class="navbar-brand" href="/">Link Safe <i class="fas fa-save ps-2"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Links
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/links">Todos los Links</a></li>
            <li><a class="dropdown-item" href="/links/add">Añadir enlace</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
            </div>
        </div>
    </div>
</nav>